* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Exo", sans-serif;
  background-color: #00ffab;
}
.nav-bar,
.left-nav-side {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  column-gap: 2.4rem;
  justify-content: center;
}
.nav-bar {
  padding: 2rem 3.6rem;
  margin: 3.4rem 3.4rem;
  background-color: #099164;
  border-radius: 3rem;
}
.left-nav-side {
  gap: 3.6rem;
  margin-right: 3.6rem;
}
.logo {
  font-size: 3.6rem;
  color: #fff;
  font-weight: bold;
}
.options-title {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1.2rem;
}
.first-option {
  pointer-events: none;
}
.options,
.search-input {
  border-radius: 10px;
  outline: none;
  font-family: "Exo", sans-serif;

  border: none;
}
.options {
  border-radius: 10px;
  outline: none;
  padding: 1rem;
  border: none;
}
.search-input {
  font-size: 1.6rem;
  padding: 2rem 2rem;
  width: 100%;
  transition: all 0.3s;
  /* background-color: #0c9f6e; */
}
.search-input:hover {
  transform: translateY(-5px);
}
.main {
  display: flex;
  margin: 0 auto;
  width: 75%;
  justify-content: center;
  gap: 5rem;
}
.workout-list,
.workout-details {
  width: 35%;
  height: 70vh;
  background-color: #099164;
  border-radius: 3rem;
  /* padding: 2rem; */
  overflow: scroll;
}
.workout-list {
}
.loading,
.error {
  font-size: 1.6rem;
  color: #fff;
  margin: 3rem;
  text-align: center;
}
.list-header {
  text-align: right;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  margin: 2rem;
}
.workout-list-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.workout {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 5rem auto;
  gap: 2rem;
  align-items: center;

  transition: all 0.3s;
  /* width: 100%; */
}
.workout-dark {
  background-color: #0b825a;
}

.workout:hover {
  cursor: pointer;
  background-color: #0b6e4d;
}
.workout-list-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.workout-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout-heading {
  font-size: 1.6rem;
  color: #fff;
}
.workout-detail {
  /* font-size: 1.2rem; */
  color: #fff;
  font-weight: bold;
}
