* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Exo", sans-serif;
  background-color: #00ffab;
}
.nav-bar,
.left-nav-side {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  column-gap: 2.4rem;
  justify-content: center;
}
.nav-bar {
  padding: 2rem 3.6rem;
  margin: 3.4rem 3.4rem;
  background-color: #099164;
  border-radius: 3rem;
}
.left-nav-side {
  gap: 3.6rem;
  margin-right: 3.6rem;
}
.logo {
  font-size: 3.6rem;
  color: #fff;
  font-weight: bold;
}
.options-title {
  display: block;
  font-size: 1.6rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1.2rem;
}
.first-option {
  pointer-events: none;
}
.options,
.search-input {
  border-radius: 10px;
  outline: none;
  font-family: "Exo", sans-serif;

  border: none;
}
.options {
  border-radius: 10px;
  outline: none;
  padding: 1rem;
  border: none;
}
.search-input {
  font-size: 1.6rem;
  padding: 2rem;
  width: 100%;
  transition: all 0.3s;
  /* background-color: #0c9f6e; */
}
.search-input:hover {
  transform: translateY(-5px);
}
.main {
  display: flex;
  margin: 0 auto;
  width: 75%;
  justify-content: center;
  gap: 5rem;
}
.workout-list,
.workout-details {
  width: 35%;
  height: 70vh;
  background-color: #099164;
  border-radius: 3rem;
  /* padding: 2rem; */
  overflow: scroll;
}

.loading,
.error {
  font-size: 1.6rem;
}
.loading,
.error,
.saved-workouts-title {
  color: #fff;
  margin: 3rem;
  text-align: center;
}
.icon-legend-container {
  padding: 0 2.5rem;
}
.list-header {
  text-align: right;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  margin: 2rem;
}
.workout-list-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.workout {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 5rem auto;
  gap: 2rem;
  align-items: center;

  transition: all 0.3s;
  /* width: 100%; */
}
.workout-dark {
  background-color: #0b825a;
}

.workout:hover {
  cursor: pointer;
  background-color: #0b6e4d;
}
.workout-list-text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.workout-line,
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workout-heading {
  font-size: 1.6rem;
  color: #fff;
}
.workout-detail,
.workout-instructions-heading {
  /* font-size: 1.2rem; */
  color: #fff;
  font-weight: bold;
}
.button {
  font-size: 1.6rem;
  outline: none;
  border: none;
  font-family: "Exo", sans-serif;

  padding: 0.5rem 1.5rem;
  border-radius: 10px;

  transition: all 0.3s;

  color: #fff;
  margin-bottom: 2rem;
}
.delete-button {
  background-color: #ea0202;
}
.delete-button:hover {
  background-color: #c30202;
}
.non-delete-button,
.non-delete-element {
  background-color: #0b6e4d;
}
.non-delete-button:hover {
  box-shadow: inset 0 0 0 1px #0b6e4d;
  box-shadow: inset 0 0 0 1px #0b6e4d;
  background: none;
}
.non-delete-button:hover,
.delete-button:hover {
  cursor: pointer;
}
.workout-details-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b825a;
}
.saved-workouts-title {
  font-size: 2rem;
}
.weight-emoji-heading,
.weight-emoji-feature {
  height: 2rem;
  color: #fff;
}
.workout-content {
  padding: 2rem;
}

.workout-image {
  border-radius: 3rem;
  /* text-align: center; */
  width: 100%;
}
.workout-name {
  font-size: 2.4rem;
  color: #fff;
  margin-bottom: 1.6rem;
  text-align: center;
}
.icon-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.6rem;
}
.icon-list-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.workout-feature-text {
  font-size: 1.6rem;
  color: #fff;
}
.workout-instructions-heading {
  font-size: 1.8rem;
  text-align: center;
}
.workout-instructions-text {
  font-size: 1.4rem;
  color: #fff;
  margin-bottom: 1.6rem;
}
.workout-icon-name,
.legend-title {
  font-size: 1.6rem;
  color: #fff;
}

.legend-title {
  text-align: center;
}
.legend-name {
  font-weight: initial;
}
